.estilo6{
    margin: 35px 300px 40px 400px;
    background-color: #d6d6d6;
    text-decoration: solid;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 20px;
    width: 70%;
    height: 640px;
    position: absolute;
    box-shadow: 1px 1px 50px -35px;

   

}
.estilo6 h1{
    font-size: 27px;
    font-family: Calibri;
    color: #000;
    font-weight: bolder;
    padding: 15px;
    margin: 1px 250px ;
    align-items: center;
    justify-content: center;
    text-align: center;

    
}

.estilo6 p{
    font-size: 22px;
    font-family: Calibri;
    color: #000;
    font-weight: bolder;
    padding: 15px;
    margin: 10px;
    
}
.estilo6 a{
    font-size: 22px;
    font-family: Calibri;
    color: #000;
    font-weight: bold;
    margin: 50px 10px 20px 600px;
    align-items: center;
    justify-content: center;
    text-align: center;
  
    
}
/*selecionar a opção de consulta*/
.form{ 
    border-radius: 25px;
    padding: 5px;
    width: 250px;
    margin: -0px 30px;
    color: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
    margin: 0 a;
   
}
.form2{
    border-radius: 25px;
    padding: 5px;
    width: 300px;
    position: absolute;
    margin: 0px 100px;
}

.estilo7{
    align-items: center; /*alinhamento dos itens no centro*/
    margin: 0 auto 
}

div.estilo7{
    align-items: center;
    margin: 0 auto;
    text-align: center;
    background-color: #dac4c4;
}

img.estilo7{
    width: 300px;
    height: 250px;
    border-radius: 20px;
    margin: 10px 1500px 30px 10px;

}
table.estilo7{
    width: 500px;
    align-items: center;
    font-family: Tw Cen MT;
    font-size: 30px;
}
p.estilo7{
    font-family: Tw Cen MT;
    font-size: 20px;
    font-weight: lighter;
    margin: -300px 400px 200px 270px;
    padding: 50px;
}

.estilo8{
    align-items: center; /*alinhamento dos itens no centro*/
    margin: 0 auto 
}
p.estilo8{
    font-family: Tw Cen MT;
    font-size: 19px;
    font-weight:lighter;
    margin: 580px 10px 200px 20px;
    width: 1300px;
}
img.estilo8{
    width: 35px;
    height: 35px;
    border-radius: 10px;
    margin: -150px 100px 30px 200px;

}
/* Estilo da propriedade do livro */
.estilo9{
    margin: -60px 30px 4px 400px;
    background-color: #a4deb400;
    position: absolute;
    text-decoration: solid;
    font-size: 22px;
    font-family: Calibri;
    border-radius: 20px;
    width: 70%;
    height: 50px;
}
/* número de páginas do livro */
p.estilo9{
    font-family: Tw Cen MT;
    font-size: 15px;
    font-weight:lighter;
    margin: 540px 10px 200px 305px;
    padding: 2px 5px 20px;
    width: 1300px;

}
/* símbolo de páginas do livro */
img.estilo9{
    width: 35px;
    height: 35px;
    border-radius: 10px;
    margin: 500px 100px 300px 330px;

}
.estilo10{
    margin: -60px 30px 4px 400px;
    background-color: #a4deb400;
    position: absolute;
    text-decoration: solid;
    font-size: 22px;
    font-family: Calibri;
    border-radius: 2px;
    width: 70%;
    height: 50px;
}
p.estilo10{
    font-family: Tw Cen MT;
    font-size: 15px;
    font-weight:lighter;
    margin: 540px 10px 200px 415px;
    padding: 2px 5px 20px;
    width: 1300px;

}
img.estilo10{
    width: 35px;
    height: 35px;
    margin: 500px 100px 200px 430px;

}

.estilo11{
    margin: -60px 30px 4px 400px;
    background-color: #a4deb400;
    position: absolute;
    text-decoration: solid;
    font-size: 22px;
    font-family: Calibri;
    border-radius: 20px;
    width: 70%;
    height: 50px;
}
p.estilo11{
    font-family: Tw Cen MT;
    font-size: 15px;
    font-weight:lighter;
    margin: 540px 10px 200px 500px;
    padding: 2px 5px 20px;
    width: 1300px;

}
img.estilo11{
    width: 35px;
    height: 35px;
    border-radius: 0px;
    margin: 500px 100px 200px 530px;

}
p.estilo12{
    font-size: 17px;
    font-family: Calibri;
    color: rgb(252, 252, 252);
    font-weight: bold;
    padding: -150px;
    margin: 450px 200px 200px 400px ;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;

}
mark{
    background-color: rgba(153, 152, 152, 0.646);
    border-radius: 20px;
    color: rgb(0, 0, 0);
    margin: -40px 20px 400px -20px ;

}


/* ESTILO DO BOTÃO DE SABER MAIS */

.card-down .submit{
    width: 12%;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 50px;
    color:#000000;
    cursor: pointer;
    margin: -180px 50px 550px ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    position: absolute;
    

 

}
.card-down .submit:hover{
    background-color: rgba(153, 152, 152, 0.646);
    transition: background-color 0.75s;
    color: #010101;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 
    
}



.card-down a {
    text-align: left;    
    font-size: 18px;
    margin-top: 10px;
    color: rgb(103, 103, 103);
    text-decoration: none;
    margin: -80px  3px 20px;
    padding-bottom: 10x;
    padding-top: 7px;
    

}

.card-down a:hover {
    color: rgb(0, 0, 0);
}
/* BOTÃO DE EDITAR CADASTRO */
.card-down2 .submit{
    width: 18%;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 50px;
    color:#000000;
    cursor: pointer;
    margin: -180px 1000px 550px ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    position: absolute;
    

}
.card-down2 .submit:hover{
    background-color: rgba(153, 152, 152, 0.646);
    transition: background-color 0.75s;
    color: #010101;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 
    
}



.card-down2 a {
    text-align: left;    
    font-size: 18px;
    margin-top: 10px;
    color: rgb(103, 103, 103);
    text-decoration: none;
    margin: -80px  3px 20px;
    padding-bottom: 10x;
    padding-top: 7px;
    

}

.card-down2 a:hover {
    color: rgb(0, 0, 0);
}

/* BOTÃO DE EXCLUIR CADASTRO */
.card-down3 .submit{
    width: 18%;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 50px;
    color:#000000;
    cursor: pointer;
    margin: -180px 700px 50px ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    position: absolute;
    

}
.card-down3 .submit:hover{
    background-color: rgba(153, 152, 152, 0.646);
    transition: background-color 0.75s;
    color: #010101;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 
    
}

.card-down3 a {
    text-align: left;    
    font-size: 18px;
    margin-top: 10px;
    color: rgb(103, 103, 103);
    text-decoration: none;
    margin: -80px  3px 20px;
    padding-bottom: 10x;
    padding-top: 7px;
    

}

.card-down3 a:hover {
    color: rgb(0, 0, 0);
}