.cadastro-livro {
    position: absolute;
    align-items: center;
    margin-top: 30px;
    margin-left: 300px;
}

.cadastro {
    padding-top: 30px;
    margin-top: 30px;
    background-color: #96E6E1;
    width: 700px;
}
/* div  */
.estilo1 {
    margin: 80px 5px 200px 450px; /* para locomoção da div */
    position: absolute; /* para posição dos na tela */
    background-color: #d6d6d6; /* cor a div */
    text-align: center; /* localização dos dentro da div */
    font-size: 22px; /* tamanho das letras */
    font-family: Calibri; /* estilo da letra */
    border-radius: 20px; /* para o arredondamento das bordas da div */
    width: 65%; /* largura da div */
    height: 600px; /* altura da div */
    overflow: scroll; /* botão rolamento */
    
} /* escrita parágrafo */
.estilo1 p {
    width: 600px; 

} /* botão rolamento */
::-webkit-scrollbar {
    width: 10px; 
    height: 100%;
}
::-webkit-scrollbar-track {
    background-color: rgb(190, 190, 190);
    height: 100%;
}
::-webkit-scrollbar-thumb {
    background:  rgb(126, 126, 126);
    border-radius: 30px;
}
