.cadastro-livro {
    position: absolute;
    align-items: center;
    margin-top: 30px;
    margin-left: 300px;
}

.cadastro {
    padding-top: 30px;
    margin-top: 30px;
    background-color: #96E6E1;
    width: 700px;
}
/* estilo 1 div */
.estilo1 {
    margin: 60px 5px 200px 450px;
    position: absolute;
    background-color: #d6d6d6;
    text-align: start;
    text-decoration: solid;
    font-size: 22px;
    font-family: Calibri;
    border-radius: 20px;
    width: 65%;
    height: 600px;
    overflow: scroll;
    
}/* h1 titulo */
.estilo1 h1{
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 10px;
}
/* "p" texto */
.estilo1 p{
    width: 1100px;
} /* subtitulo */
.estilo1 h2{
        margin: 0 auto;
        padding-left: 65px;
        font-weight: bold;
        padding-bottom: 10px;
        padding-top: 10px;
        text-decoration: underline;
    
} /* botão rolamento */
::-webkit-scrollbar {
    width: 10px;
    height: 100%;
}
::-webkit-scrollbar-track {
    background-color: rgb(187, 190, 190);
    height: 100%;
}
::-webkit-scrollbar-thumb {
    background: rgb(255, 253, 253);
    border-radius: 30px;
}
